<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repo converter</title>
</head>
<body>
<a href='/'>Return to home page</a>
<h1>Enter your link</h1>
<form method=post >
    <p> <input type=text name=url>
    <p>
        <label>Select list</label>
        <select name=formatList>
            <option value = "epub">epub</option>
            <option value = "rtf">rtf</option>
            <option value = "fb2">fb2</option>
        </select>
    </p>
    <input type=submit value=Save>
</form>
</body>
</html>